# Node.js
node_modules/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pids/
.npm/
.eslintcache
.node_repl_history

# Logs
logs/
*.log

# Build artifacts
dist/
build/
coverage/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Test files
*.spec.js
*.test.js